#!/usr/bin/make -f

export DEB_VERSION_UPSTREAM := $(shell dpkg-parsechangelog -S Version | sed 's/-[^-]*$$//')

%:
	dh $@ --with dkms

override_dh_auto_clean:
	# Skip auto-clean to avoid Makefile recursion

override_dh_auto_build:
	# Skip auto-build as this is a DKMS package

override_dh_auto_test:
	# Skip tests

override_dh_auto_install:
	# Substitute version in dkms.conf and install file
	sed -i 's/__PACKAGE_VERSION__/$(DEB_VERSION_UPSTREAM)/' src/amdxdna/dkms.conf
	sed -i 's/__VERSION__/$(DEB_VERSION_UPSTREAM)/g' debian/amdxdna-dkms.install

	# Let dh_install handle file installation
	dh_install

override_dh_dkms:
	dh_dkms -pamdxdna-dkms -V $(DEB_VERSION_UPSTREAM)
