#!/usr/bin/make -f

%:
	dh $@ --with dkms

override_dh_auto_clean:
	# Skip auto-clean to avoid Makefile recursion

override_dh_auto_build:
	# Skip auto-build as this is a DKMS package

override_dh_auto_test:
	# Skip tests

override_dh_auto_install:
	# Get version from changelog (strip debian revision)
	$(eval VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/-[^-]*$$//'))

	# Substitute version in dkms.conf
	sed -e 's/__PACKAGE_VERSION__/$(VERSION)/' \
	    src/amdxdna/dkms.conf > src/amdxdna/dkms.conf.new
	mv src/amdxdna/dkms.conf.new src/amdxdna/dkms.conf

	# Install DKMS source
	mkdir -p debian/amdxdna-dkms/usr/src/amdxdna-$(VERSION)
	cp -r src/amdxdna/* debian/amdxdna-dkms/usr/src/amdxdna-$(VERSION)/
	cp -r src/include debian/amdxdna-dkms/usr/src/amdxdna-$(VERSION)/
	cp -r src/trace debian/amdxdna-dkms/usr/src/amdxdna-$(VERSION)/

	# Install firmware with symlinks
	mkdir -p debian/amdxdna-dkms/lib/firmware/updates/amdnpu
	cp -a firmware/amdnpu/* debian/amdxdna-dkms/lib/firmware/updates/amdnpu/

override_dh_dkms:
	$(eval VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/-[^-]*$$//'))
	dh_dkms -V $(VERSION)
